.left
  %ul.links
    %li.title Wikis
    - @projects.keys.each do |id|
      %li= link_to @projects[id]['name'], "/view/#{id}"
  %ul.links
    %li.title Page
    %li= link_to 'Index', "/view/#{@id}/index"
    - if params[:action] == 'edit'
      %li.save= link_to 'Save', '#'
    - else
      %li.edit= link_to 'Edit', "/edit/#{@id}/#{@page}"
    %li.edit= link_to 'Delete', "/delete/#{@id}/#{@page}"
  %ul.infos
    %li <span>⌘+S</span> Save
    %li <span>⌘+E</span> Edit
    %li <span>⌘+P</span> Print
  %ul.infos
    %li #{@text.length} C
    %li #{@text.split.length} W
