.left
  %ul.links
    %li.title Wikis
    - @projects.keys.each do |id|
      %li= link_to @projects[id]['name'], "/view/#{id}"
  %ul.links
    %li.title Page
    %li= link_to('Index', "/view/#{@id}/index")
    %li.edit= link_to 'Edit', "/edit/#{@id}/#{@page}"
    %li.edit= link_to 'Delete', "/delete/#{@id}/#{@page}"
  %ul.infos
    %li <span>⌘+S</span> Save
    %li <span>⌘+E</span> Edit
    %li <span>⌘+P</span> Print
.middle
  .markdown~ raw(markdown(@file))
.right
  %ul.files
    %li= link_to('index',"/view/#{@id}/index")
    - files_tree(@projects[@id]['path']).each do |file|
      %li= link_to(file,"/view/#{@id}/#{file}")
.break

:javascript
  $(window).keydown(function(e) {
    if (e.metaKey && e.keyCode == 69) {
      document.location.href = $("li.edit a").attr("href");
      e.preventDefault();
      return false;
    }
  });
