.left
  %ul.links
    %li.title Verne
    %li= link_to t(".edit"), "/project/edit/#{@file}"
    %li= link_to t(".exit"), root_url
.middle
  .markdown= raw(markdown(@file_full))
.right
  %ul.files
    %li= link_to("index","/project/view/index")
    - files_tree.each do |file|
      %li= link_to(file,"/project/view/#{file}") 