.left
  %ul.links
    %li.title Verne
    %li= link_to("Index","/project/view/index")
    %li.edit= link_to t(".edit"), "/project/edit/#{@file}"
    %li= link_to t(".exit"), root_url
  %ul.infos
    %li <span>⌘+S</span> Save
    %li <span>⌘+E</span> Edit
    %li <span>⌘+P</span> Print
.middle
  .markdown~ raw(markdown(@file_full))
.right
  %ul.files
    %li= link_to("index","/project/view/index")
    - files_tree.each do |file|
      %li= link_to(file,"/project/view/#{file}")
.break

:javascript
  $(window).keydown(function(e) {
    if (e.metaKey && e.keyCode == 69) {
      document.location.href = $("li.edit a").attr("href");
      e.preventDefault();
      return false;
    }
  });